# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# OS
.DS_Store
Thumbs.db

# APK 杈撳嚭锛坮elease 鐗堟湰涓嶄笂浼狅級
app/release/

# Kotlin error logs
.kotlin/

# 开发调试临时文件
app/src/icon/
export_analyze/
export_preview/

