<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 版本更新：安装下载好的 APK -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Android 9 及以下需要 WRITE_EXTERNAL_STORAGE 写公共下载目录 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxGroup"
        android:name=".MyApp">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TopicSubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".TopicAddActivity"
            android:exported="false" />
        <activity
            android:name=".TopicQueryActivity"
            android:exported="false" />
        <activity
            android:name=".TaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TopicEditActivity"
            android:exported="false" />
        <activity
            android:name=".TopicAuditActivity"
            android:exported="false" />
        <activity
            android:name=".TopicAuditDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".JointCooperationActivity"
            android:exported="false" />
        <activity
            android:name=".JointDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ScriptEditActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".KeyTopicActivity"
            android:exported="false" />
        <activity
            android:name=".ScriptDetailActivity"
            android:exported="true">
            <!-- 接收微信/其他 App 分享文件 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScriptAuditDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DepartmentAuditDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ScriptViewActivity"
            android:exported="false" />

        <!-- 版本更新安装 APK 用的 FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>